@import url('./fonts.css');

:root {
    --main-color: #242424;
    --action-color: #3AADA8;
    --folders: #A2D5AC;
    --warning-red: #8A0000;
}

* {
    font-family: Roboto;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    border-left: 4px solid #E5EEC1;
    border-right: 4px solid #E5EEC1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
    ;
}

i {
    pointer-events: none;
}

header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #E5EEC1;
}

header button {
    padding: 5px;
    margin: 10px 20px;
}

.btn {
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid var(--action-color);
    border-radius: 5px;
    color: var(--main-color);
}

.btn:hover {
    background-color: var(--folders);
}

.sidebar {
    grid-area: sidebar;
    border-right: 2px solid #ccc;
    height: 100vh;
}

.content {
    grid-area: content;
    height: 100vh;
    overflow: scroll;
}

/* Create folder */
.create-folder-container {
    width: 100%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    color: var(--main-color);
}

.input-btn-field {
    display: flex;
    align-items: center;
}

.create-folder-input {
    width: 200px;
    font-size: 20px;
    outline: none;
    padding: 5px;
    border: 2px solid var(--action-color);
    border-radius: 5px;
}

.create-folder-input::placeholder {
    opacity: .4;
}

.create-folder-btn {
    width: 38px;
    height: 38px;
    margin: 0 10px;
    box-sizing: border-box;
    color: #ccc;
}

.create-folder-btn:hover {
    color: #fff;
}

.invalid-name-prompt {
    font-size: 16px;
    display: none;
    margin: 0;
}


/* Sidebar and Folders */
.sidebar h2 {
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin: 0;
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    max-height: 450px;
    overflow: scroll;
}

.folder {
    font-size: 24px;
    margin: 5px 10px;
    padding: 5px 10px;
    border: none;
}

.folder-trash {
    border: 1px solid var(--warning-red);
    padding: 5px;
    background-color: #fff;
    color: var(--warning-red);
    float: right;
    cursor: pointer;
    display: none;
}

.folder-trash:hover {
    color: #ccc;
    border-color: #ccc;
    background-color: var(--warning-red);
}

.folder-highlight {
    background-color: var(--folders);
}

.delete-folder-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #ccc;
}

.delete-folder-btn {
    padding: 5px 10px;
    margin: 20px 0;
}

/* tasks */
.task {
    width: 97%;
    margin: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.task.todays-task input {
    border-top-color: var(--action-color);
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: var(--action-color);
}
.task.todays-task input[type="time"] {
    border-right-color: var(--action-color);
}

.task.task-done .checkbox {
    background-color: var(--folders);
    color: #fff;
    border-color: var(--folders);
}
.task.task-done input {
    color: #ccc;
    border-color: #ccc;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.task.task-done input[type="time"] {
    border-color: #ccc;
}

.default-task-container {
    display: none;
}

.open-default-task-container {
    display: inline-flex;
}

.task-fill-prompt {
    margin: 20px 10px 10px 10px;
    color: var(--main-color);
    display: none;
}

.task-description, .task-date, .task-time, .save-task-btn, .delete-task-btn {
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px;
    outline: none;
    border-radius: 0;
    border: 1px solid #ccc;
}

.task-date, .task-time, .save-task-btn, .delete-task-btn {
    cursor: pointer;
}

.task-description {    
    width: 525px;
    padding-left: 5px;
}

.task-description::placeholder {
    color: var(--action-color);
}

.task-buttons {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    border: 2px solid #ccc;
    position: relative;
    color: #ccc;
}

.checkbox i {
    width: 16px;
    position: absolute;
    top: 7px;
    left: 5px;
}

.checkbox:hover {
    border-color: var(--folders);
}

.save-task-btn, .delete-task-btn {
    margin-left: 10px;
}

.save-task-btn {
    border-color: var(--action-color);
}

.save-task-btn:hover {
    background-color: #557C83;
}

.delete-task-btn {
    border-color: var(--warning-red);
}

.delete-task-btn:hover {
    color: #fff;
    background-color: var(--warning-red);
}

.delete-task-btn.delete-btn {
    margin-left: 50px;
}

.task-date {
    width: 155px;
}

.task-description, .task-date, .task-time {
    border-left: none;
    background-color: #eee;
}

.task-date, .task-time {
    color: var(--action-color);
}

.saved-task {
    background-color: #fff;
    color: var(--main-color);
}

.folder-title {
    margin: 20px 10px;
    color: var(--main-color);
    font-size: 32px;
}

.list-container {
    border-top: 2px solid #ccc;
}

/* Confirmation dialog window of deleting */
.confirmation-container {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    max-width: 500px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid var(--action-color);
    border-radius: 5px;
    background-color: #fff;
    z-index: 100;
    display: none;
}

.confirmation-buttons {
    display: flex;
    justify-content: space-evenly;
}

.confirmation-buttons button {
    padding: 5px;
}

.confirmation-buttons button:first-child {
    border-color: var(--warning-red);
}

.confirmation-buttons button:first-child:hover {
    background-color: var(--warning-red);
    color: #fff;
}

.layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    background-color: rgba(255, 255, 255, .4);
}