@import url('./fonts.css');

:root {
    --main-color: #242424;
    --action-color: #3AADA8;
    --folders: #A2D5AC;
}

* {
    font-family: Roboto;
}

body {
    padding: 0;
    margin: 0;
    max-width: 1200px;
    border-left: 4px solid #E5EEC1;
    border-right: 4px solid #E5EEC1;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
    ;
}

header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #E5EEC1;
}

.btn {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 20px;
    background-color: #fff;
    border: 2px solid var(--action-color);
    border-radius: 5px;
    color: var(--main-color);
}

.btn:hover {
    background-color: var(--folders);
}

.sidebar {
    grid-area: sidebar;
    border-right: 2px solid #ccc;
    height: 100vh;
}

.content {
    grid-area: content;
    height: 100vh;
    overflow: scroll;
}

/* Create folder */
.create-folder-container {
    width: 100%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    color: var(--main-color);
}

.input-btn-field {
    display: flex;
    align-items: center;
}

.create-folder-input {
    width: 200px;
    font-size: 24px;
    outline: none;
    padding: 5px;
    border: 2px solid var(--action-color);
    border-radius: 5px;
}

.create-folder-input::placeholder {
    opacity: .4;
}

.create-folder-btn {
    width: 42px;
    height: 42px;
    font-size: 20px;
    margin: 0 10px;
    box-sizing: border-box;
    color: var(--action-color);
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.create-folder-btn i {
    pointer-events: none;
}

.create-folder-btn:hover {
    background-color: var(--folders);
    border-color: var(--action-color);
}

.invalid-name-prompt {
    font-size: 20px;
    display: none;
    margin: 0;
}


/* Sidebar and Folders */
.sidebar h2 {
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin: 0;
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.folder {
    font-size: 24px;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.folder i {
    pointer-events: none;
}

.folder:hover {
    background-color: var(--folders);
}

.folder-highlight {
    background-color: var(--folders);
}

/* tasks */
.task {
    width: 97%;
    margin: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.task.task-done .checkbox {
    background-color: var(--folders);
    color: #fff;
    border-color: var(--folders);
}

.task.task-done input {
    color: #ccc;
}

.default-task-container {
    display: none;
}

.open-default-task-container {
    display: inline-flex;
}

.task-fill-prompt {
    margin: 20px 10px 10px 10px;
    color: var(--main-color);
    display: none;
}

.task-date, .task-time, .save-task-btn, .delete-task-btn {
    cursor: pointer;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0;
}

.task-description, .task-date, .task-time, .save-task-btn, .delete-task-btn {
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px;
}

.task-description {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 525px;
    padding-left: 5px;
}

.task-description::placeholder {
    color: var(--action-color);
}

.checkbox {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid #ccc;
    cursor: pointer;
    position: relative;
    color: #ccc;
}

.checkbox i {
    pointer-events: none;
    width: 16px;
    position: absolute;
    top: 7px;
    left: 5px;
}

.checkbox:hover {
    border-color: var(--folders);
}

.save-task-btn, .delete-task-btn {
    width: 30px;
    margin-left: 10px;
}

.save-task-btn i, .delete-task-btn i {
    pointer-events: none;
}

.save-task-btn {
    border-color: var(--action-color);
}

.save-task-btn:hover {
    color: #557C83;
}

.delete-task-btn {
    border-color: #8A0000;
}

.delete-task-btn:hover {
    color: #557C83;
}

.delete-task-btn.delete-btn {
    margin-left: 50px;
}

.task-date {
    width: 155px;
}

.task-description, .task-date, .task-time {
    border-left: none;
    background-color: #eee;
}

.task-date, .task-time {
    color: var(--action-color);
}

.saved-task {
    background-color: #fff;
    color: var(--main-color);
}

.folder-title {
    margin: 20px 10px;
    color: var(--main-color);
    font-size: 40px;
}

.list-container {
    border-top: 2px solid #ccc;
}

/* TASK DONE */
